.root-node {
  x: -160;
}

.text-node {
  font-size: .9em;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.rect-node {
  fill: #b0c4de;
}

.selected-node {
  fill: #f0e68c;
}

.elucidation-relationships-container {
  height: 100%;
  position: relative;
  width: 100%;
}

.elucidation-relationships-container .elucidation-relationships-svg {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.elucidation-relationships-container .elucidation-relationships-toolbar {
  position: absolute;
  display: flex;
  top: 5px;
  left: 5px;
}
