
body, html {
  height: 100%;
  margin: 0;
}

.elucidation {
  background-color: #777;
  color: #2c3e50;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.elucidation .el-main,
.elucidation .el-footer,
.elucidation .el-header {
    padding: 0;
}

.elucidation .el-header .el-button {
  background: transparent;
  border: 0;
  color: #fff;
  font-size: 1.1em;
  padding: 2px;
}

.el-container {
  padding: 5px;
}

.el-container.elucidation-center {
  padding: 0 0 2px 5px;
}

.el-container:not(.custom-height) {
  height: 100%;
}

.elucidation .identifier-details {
  border: 0;
}

.elucidation .elucidation-header,
.elucidation .identifier-details .el-collapse-item__header {
  background-color: #4682B4; /* steel blue */
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  height: 30px !important;
  padding: 2px 10px;
  text-align: left;
  vertical-align: middle;
}

.elucidation .elucidation-header .elucidation-header-body {
  display: flex;
}

.elucidation .elucidation-header .elucidation-header-body .elucidation-header-title {
  flex-grow: 1;
}

.elucidation-center .elucidation-relationships,
.elucidation-left .el-container {
  padding: 0;
}

.elucidation .elucidation-vue-good-table .vgt-table .vgt-row-header {
  padding: .25em 1.25em .25em .25em;
}

.elucidation .elucidation-vue-good-table .vgt-table td {
  padding: .25em;
}
